* {
    padding: 0;
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    min-height: 100px;
    padding: 10px;
    background-color: brown;
}

.wrapper {
    min-width: 500px;
    background-color: #dedede;
    padding: 20px;
}

.wrapper-slide {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.wrapper-slide label {
    font-size: 20px;
}

.wrapper-slide input {
    cursor: pointer;
}

.button-grup {
    margin-top: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button-grup button {
    background-color: white;
    cursor: pointer;
    padding: 5px;
    transition: all .25s ease;
}

.button-grup button:hover {
    background-color: brown;
    color: white;
}

.button-grup input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#paint-box {
margin-top: 10px;
min-height: 400px;
background-color: white;
}

.gridCol{
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}

.gridRow{
    display: flex;
}

@media only screen and (max-width: 768px){
    .gridCol{
        height: 0.8em;
        width: 0.8em;
    }
}